<%= form_tag charges_path do %>
   <h4>Click the button!</h4>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
   key: "#{ Rails.configuration.stripe[:publishable_key] }"
   description: "BigMoney Membership - #{current_user.name}"
   amount: Amount.default >
   </script>
 <% end %>
